body{

    background-position: bottom;
    background-size: 100% 50%;}

.card1{
    width: 350px;
    margin-top: -15px;

}

.card2{
    width: 550px;
    margin-top: -15px;

}

.card2_dats{
    margin-top: 15px;
    margin-right: 240px;
}

.card3{
    width: 170px;
    margin-bottom: -150px;
    margin-left: 670px;
}

.card3_dats{
    margin-left: -200px;
    margin-bottom: -180px;
}

.card3_globo::after{
    left: 116px;
}